<a href="https://colab.research.google.com/github/mollala/Internship/blob/DA/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%99%95%EC%9D%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import zipfile
import os

In [ ]:
dframe1 = pd.read_csv('C:/연구인턴십/합친거/tc_codea_코드A.csv')
# filtered_df = dframe1[dframe1['cd_a'] == 'MIS']

# # 필터링된 결과 출력
# print(filtered_df)

dframe1

,idx,cd_nm,cd_a,cd_memo,cd_memo2,del_flag,order_num,perm_write,perm_edit,perm_delete,ins_dt,edit_dt
0,5,여행상태,STA,NaN,NaN,N,999,N,N,N,2022-07-05 10:33:02.000,NaN
1,6,방문지유형코드,VIS,NaN,NaN,N,999,N,N,N,2022-07-05 10:45:53.000,NaN
2,7,주요 이동수단,MOV,NaN,NaN,N,999,N,N,N,2022-07-05 10:48:39.000,NaN
3,8,재방문여부,REV,NaN,NaN,N,999,N,N,N,2022-07-05 11:27:33.000,NaN
4,9,방문선택이유,REN,NaN,NaN,N,999,N,N,N,2022-07-05 11:28:18.000,NaN
5,10,숙소유형,HTY,NaN,NaN,N,999,N,N,N,2022-07-05 11:31:20.000,NaN
6,11,방문활동,ACT,NaN,NaN,N,999,N,N,N,2022-07-05 11:34:24.000,NaN
7,12,취식 지출 여부,EXP,NaN,NaN,N,999,N,N,N,2022-07-05 11:50:35.000,NaN
8,13,결제 방식,PAY,NaN,NaN,N,999,N,N,N,2022-07-05 11:51:27.000,NaN
9,14,전반적 만족도 점수,DGS,NaN,NaN,N,999,N,N,N,2022-07-05 11:55:48.000,NaN
10,15,재방문 의향 점수,REP,NaN,NaN,N,999,N,N,N,2022-07-05 11:56:55.000,NaN
11,16,추천의향 점수,REC,NaN,NaN,N,999,N,N,N,2022-07-05 11:58:20.000,NaN
12,17,메타데이터 진행상태,MET,NaN,NaN,N,999,N,N,N,2022-07-05 12:00:59.000,NaN
13,18,여행종류,TTY,NaN,NaN,N,999,N,N,N,2022-07-07 09:11:04.000,NaN
14,19,미션,MIS,"여행테이블 여행목적, 여행미션에서 사용",NaN,N,999,N,N,N,2022-07-27 16:26:46.000,NaN
15,20,최종학력,EDU,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
16,21,최종학력이수여부,EFS,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
17,22,혼인상태,MAR,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
18,23,직업,JOB,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
19,24,직업기타,JOE,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
20,25,소득,INC,"본인소득, 가구소득",NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
21,26,여행빈도_기간,TTM,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
22,27,여행스타일,TSY,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
23,28,여행동기,TMT,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
24,29,여행동반자관계,TCR,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
25,30,성별,GEN,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
26,31,동반자연령대,AGE,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
27,32,동반자동반상황,CST,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
28,33,입장료구분,AMS,체험/입장및 관람활동 구분,NaN,N,999,N,N,N,2022-11-11 13:48:15.000,NaN
29,34,여행권역,TAR,NaN,NaN,N,999,N,N,N,2022-12-01 15:42:15.000,NaN

In [ ]:
dframe2 = pd.read_csv('C:/연구인턴십/합친거/tc_codeb_코드B.csv')

filtered_df = dframe2[dframe2['cd_a'] == 'ACT']

# 필터링된 결과 출력
print(filtered_df)

      idx            cd_nm cd_a cd_b  \
63   1055               취식  ACT    1
64   1056          쇼핑 / 구매  ACT    2
65   1057  체험 활동 / 입장 및 관람  ACT    3
66   1058  단순 구경 / 산책 / 걷기  ACT    4
67   1059               휴식  ACT    5
68   1060            기타 활동  ACT    6
102  1094            환승/경유  ACT    7
104  1096               없음  ACT   99

                                              cd_memo  cd_memo2 del_flag  \
63                                                NaN       NaN        N
64    (아이 쇼핑 포함)<br>* 이전 방문지에서 해당 방문지 이동 중 구매한 내역 포함        NaN        N
65                                                NaN       NaN        N
66                                                NaN       NaN        N
67                                                NaN       NaN        N
68                                                NaN       NaN        N
102                                               NaN       NaN        N
104                                               NaN       NaN        N

     order_num                   ins_dt edit_dt
63          10  2022-07-05 11:34:29.000     NaN
64          20  2022-07-05 11:49:08.000     NaN
65          30  2022-07-05 11:49:37.000     NaN
66          40  2022-07-05 11:49:43.000     NaN
67          50  2022-07-05 11:49:48.000     NaN
68          70  2022-07-05 11:49:55.000     NaN
102         60  2022-07-14 14:55:09.000     NaN
104        999  2022-07-14 18:09:33.000     NaN